* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
}
body {
  background-color: #f9f9f9;
}

.hangman {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 96vw;
  max-width: 800px;
  height: auto;
  min-height: 400px;
  background-color: white;
  border: 0px solid #111;
  color: #333;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 1px #999;
  padding: 20px 30px;
}

.word {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 13px;
  padding: 20px;
  font-size: 42px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ccc;
  min-height: 79px;
}

.category {
  width: 100%;
  padding: 10px 20px;
  background-color: #f9f9f9;
  text-align: center;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 400;
  font-size: 140%;
  color: royalblue;
}
.category i {
  font-size: 160%;
  padding: 0 6px;
}
.category span {
  font-weight: 700;
  padding: 0 10px;
  letter-spacing: 1px;
}

.letter {
  margin-top: 20px;
  padding: 30px 20px;
}

.letter button {
  font-size: 20px;
  padding: 4px 8px;
  min-width: 38px;
  margin: 6px;
  text-transform: uppercase;
  background: #ddd;
  border: 1px solid transparent;
  color: #444;
  font-weight: 700;
  border-radius: 2px;
}
.letter button:hover {
  background: #eee;
  color: #111;
  border: 1px solid #111;
}

.winner {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  text-shadow: 0px 0px 3px #333;
  font-size: 10vh;
  text-transform: uppercase;
  line-height: 100vh;
  text-align: center;
  font-weight: 700;
  visibility: hidden;
  z-index: 10;
}

.winner button {
  display: block;
  position: fixed;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 24px;
  padding: 10px 20px;

  background: #111;
  border: 1px solid #ccc;
  color: #eee;
  font-weight: 700;
  border-radius: 2px;
}
.winner button:hover {
  border: 1px solid lightskyblue;
  color: lightskyblue;
}

.stats {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 200%;
}
.stats span.life {
  color: crimson;
}
.stats i {
  color: crimson;
}

@media (max-width: 360px) {
  .hangman {
    top: 2%;
  }
}
